{% extends "bootstrap_base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" >
{% endblock %}
{% block content %}
<div class="alt-grid container">
    <div class="col-sm-4" style="border-right: 1px #e7e7e7 solid; padding: 5px 25px;">
        <div class="row">
            <h1><a href="{{ url_for('zoning.jurisdiction_overview', jurisdiction_name=jurisdiction.name) }}#{{ zoning.zone_code }}">{{ jurisdiction.name }}</a> - {{ zoning.zone_code }}</h1>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Minimum Lot Size:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,}".format(zoning.min_lot_size) if zoning.min_lot_size is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;">sqft</div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Minimum FAR:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.min_far) if zoning.min_far is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Maximum FAR:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.max_far) if zoning.max_far is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Minimum Front Setback:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.min_front_setback) if zoning.min_front_setback is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;">ft</div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Maximum Front Setback:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.max_front_setback) if zoning.max_front_setback is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;">ft</div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Rear Setback</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.rear_setback) if zoning.rear_setback is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;">ft</div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Side Setback</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,.1f}".format(zoning.side_setback) if zoning.side_setback is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Minimum Dwelling Unit per Acre:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,}".format(zoning.min_dua) if zoning.min_dua is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Maximum Dwelling Unit per Acre:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,}".format(zoning.max_dua) if zoning.max_dua is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Maximum Residential Units:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,}".format(zoning.max_res_units) if zoning.max_res_units is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Maximum Building Height:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ "{:,}".format(zoning.max_building_height) if zoning.max_building_height is not none else 'N/A' }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Zoning Ordinance:</div>
            <div class="col-sm-6 col-xs-8 text-right">{%  if zoning.zone_code_link %}<a href="{{ zoning.zone_code_link }}" target="_blank">Link</a>{% endif %}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Notes:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ zoning.notes }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Last Reviewed:</div>
            <div class="col-sm-6 col-xs-8 text-right">{% if zoning.review_date %}{{ momentjs(zoning.review_date).calendar() }}{% endif %}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row zoning">
            <div class="col-sm-4 col-xs-12">Last Reviewed By:</div>
            <div class="col-sm-6 col-xs-8 text-right">{{ zoning.review_by }}</div>
            <div class="col-sm-2 col-xs-4" style="padding-left: 2px;"></div>
        </div>
        <div class="row text-right" style="margin-top: 15px;">
            <a href="{{ url_for('zoning.edit_zoning', jurisdiction_name=zoning.jurisdiction.name, zone_code=zoning.zone_code) }}" class="btn btn-primary" role="button">Edit</a>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="table-responsive">
                <table id="dev-type-table" class="table table-hover">
                    <thead>
                        <th>Development Type ID</th>
                        <th>Development Type Name</th>
                        <th>Remove</th>
                    </thead>
                    <tbody>
                        {%  for allowed in zoning.allowed_uses|sort(attribute='development_type_id') %}
                            <tr>
                                <td data-title="Category">{{ allowed.development_type_id }}</td>
                                <td>{{ allowed.development_type.name }}</td>
                                <td><a id="remove-allowed-{{ allowed.zoning_allowed_use_id }}" href="" data-allowed-use-id="{{ allowed.zoning_allowed_use_id }}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-sm-9">
                <select id="select-dev-type" class="form-control">
                    {% for dev_type in development_types %}
                        <option value="{{ dev_type.development_type_id }}">{{ dev_type.development_type_id }}: {{ dev_type.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-3">
                <a id="add_dev_type_link" href="#" class="btn btn-primary" role="button">Add</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8 full-height">
        <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript">
        var base_remove_url = '{{ url_for('zoning.delete_zoning_allowed_use_ajax', allowed_use_id=0) }}'.slice(0,-2);
        $(document).ready(function() {
            $('a[id^="remove-allowed"]').on('click', delete_allowed_use);

            $('a#add_dev_type_link').on("click", function () {
                var sel = $("select#select-dev-type");
                $.ajax({
                    url: $SCRIPT_ROOT + '/zoning/_add/{{ jurisdiction.name }}/{{ zoning.zone_code }}/' + sel.val()
                }).done(rebuild_table);

                return false;
            });
        });

        function delete_allowed_use() {
            var allowed_use_id = this.dataset.allowedUseId;
            $.ajax({
                url: base_remove_url + '/' + allowed_use_id
            }).done(rebuild_table);
            return false;
        };

        function rebuild_table(data) {
            var table_body = $('#dev-type-table tbody');
            var newRows = '';
            $.each(data.result, function (idx, dev) {
                newRows += '<tr>';
                newRows += '<td>' + dev.development_type_id + '</td>';
                newRows += '<td>' + dev.development_type + '</td>';
                newRows += '<td><a id="remove-allowed-' + dev.zoning_allowed_use_id + '" href="" data-allowed-use-id="' + dev.zoning_allowed_use_id + '">Remove</a></td>';
            });
            table_body.html(newRows);
            $('a[id^="remove-allowed"]').on('click', delete_allowed_use);
        }

        var Stamen_TonerLite = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.{ext}', {
	        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	        subdomains: 'abcd',
	        minZoom: 0,
	        maxZoom: 20,
	        ext: 'png'
        });

        // https: also suppported.
        var Esri_WorldImagery = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
	                                        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        // https: also suppported.
        var Hydda_RoadsAndLabels = L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png', {
	                                            attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });

        zone_layer = L.geoJson({{ geom|tojson|safe }});

        map = L.map("map", {
           zoom: 10,
           center: [32.5, -117.3],
           layers: [Stamen_TonerLite, zone_layer]
        });

        map.fitBounds(zone_layer.getBounds());

        baseLayers = {
          'Streets': Stamen_TonerLite,
          'Aerial': Esri_WorldImagery
        };

        L.control.layers(baseLayers).addTo(map);
    </script>
{% endblock %}